@model Contract.Models.Tenancy

@{
    ViewBag.Title = "租赁合同 - 详细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3>租赁合同 <small>查看租赁合同详细信息</small></h3>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("合同编号")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayName("客户")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>


        <dt>
            @Html.DisplayName("服务中心")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCenter.Name)
        </dd>

        <dt>
            @Html.DisplayName("房间")
        </dt>

        <dd>
            @foreach (var room in Model.Rooms)
            {
                @(room.Number + " ");
            }
        </dd>

        <dt>
            @Html.DisplayName("面积")
        </dt>

        <dd>
            @Model.Rooms.Sum(model=>model.Space)
        </dd>

        <dt>
            @Html.DisplayName("单价")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCost)
        </dd>

        <dt>
            @Html.DisplayName("服务费")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceFee)
        </dd>

        <dt>
            @Html.DisplayName("取暖费")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeatingFee)
        </dd>

        <dt>
            @Html.DisplayName("电费")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityRate)
        </dd>

        <dt>
            @Html.DisplayName("租赁期限") 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaseTerm) 年
        </dd>

        <dt>
            @Html.DisplayName("生效日期")
        </dt>

        <dd>
            @(Model.EffectDate == null ? "未生效" : Model.EffectDate.ToString())
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回", "Index")
</p>
