@model Contract.Models.RoomCategory

@{
    ViewBag.Title = Resources.Resource.RoomCategory;
    Layout = "~/Views/Shared/_LayoutDelete.cshtml";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("名称")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Resource.Delete" class="btn btn-default" /> |
            @Html.ActionLink(Resources.Resource.Back, "Index")
        </div>
    }
</div>
